
* {
margin: 0;
padding: 0;
}


html, body {
height: 100%;
}



.container {
position: relative;
width: 100%;

}

.me {
background-image: url('me.jpg');
background-size: cover;     /* Ensures the image covers the entire div */
background-repeat: no-repeat; /* Makes sure the image doesn't repeat */
background-position: center;  /* Centers the image in the div */
box-shadow: inset 0 0px 10px #f9f9f9, inset  0 0px 15px #ff00ff, inset  0 0px 20px #000000, inset  0 0px 25px #f8f8f8; 
position: relative;

border-radius: 20%;
width: 12vw;
height: 23vh;
margin-top: 15%;
margin-bottom: 10%;
margin-left: 12%;
mix-blend-mode:overlay;
filter:brightness(120%) ;
}


.overlay {
border-radius: 20%;
width: 10vw;
height: auto;
margin-top: 7%;
margin-left:20%



}

.description {
font-family:'neuropol.otf';
font-size: 0.9em;
width: auto;
z-index: 5;
position: relative;
border-radius: 20px;
box-shadow: 0 0 10px rgb(59, 251, 0);
color: #ffffff;
padding:15px;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.8); /* this is the shadow */
}


.strikeout {
line-height: 1em;
position: relative;
}

.strikeout::after {
border-bottom: 0.125em solid red;
content: "";
left: 0;
margin-top: calc(0.125em / 2 * -1);
position: absolute;
right: 0;
top: 50%;
}

.bgimg {
background-image: url(WebArt/backgroundig.jpg);
top: 0;
left: 0;
z-index: -2;
position: fixed;
width: 100%;
height: 100vh; /* vh = viewport height */
object-fit: cover; /* really important */
object-position: top left;


}


.website {
display: grid;
grid-template-areas:
"newrow newrow newrow"
"topbarleft topbarcenter topbarright"
"adsleft contentcenter contentcenter"
"footerleft footercenter footerright";
grid-template-columns:  2fr 4fr 3fr;
grid-template-rows: 0.5fr 0.1fr 3fr 0.02fr;
min-height: 100vh;
padding: 2% 13% ;
}

.newrow {
position: relative;
height: 20vh;
background-image: src('lightning.gif');
display: flex;
flex-direction: column;
justify-content: center; 
text-align: center;
grid-area: newrow;
border-radius: 20px;
box-shadow: 0 0 20px rgb(247, 211, 255);
overflow: hidden; /* To ensure that the bgimgname doesn't overflow outside the border-radius */
}

/* .bgimgname {
position: absolute; 
top: 0;  
left: 0;
width: 100%;
height: 250px;
filter: invert(19%);
filter: hue-rotate(50deg);
mix-blend-mode:darken;


object-position: center;
}

.bgimgname2 {
z-index: -2;
top: 0;  
left: 0;
width: 20%;
height:fit-content;
float: left;
filter: invert();
mix-blend-mode: color-burn;
} */

.name {

font-size: calc(12px + 0.5vw);
position: relative;
width: 100%;
display: flex;             /* Enables Flexbox */
justify-content: center;   /* Horizontal centering */
align-items: center;       /* Vertical centering */
flex-direction: column;    /* Stack child elements vertically */
}


h2 {
font-family:'neuropol.otf';
position: relative;        /* Change to relative */
z-index: 2; 
order: 1;    
font-size: 2vw;  
  
}

h1 {
position: relative;        /* Change to relative */
font-family:'neuropol.otf';
z-index: 1;
line-height: 1.2;
text-align: center;
font-size: 4vw;
order: 2;      
        /* Makes sure h1 is below h2 */
}

.text-glow {

color: rgb(239, 229, 243);
font-size: 30px;
text-align: center;
animation: glow 2s ease-in-out infinite alternate;


}


@keyframes glow {
from{
text-shadow: 0 0 10px rgb(82, 0, 189), 0 0 20px rgb(161, 68, 195), 0 0 30px rgb(49, 35, 48), 0 0 40px #0fa,0 0 50px #0fa, 0 0 500px rgb(90, 0, 255), 0 0 50px rgb(107, 19, 127), 0 0 50px rgb(155, 46, 126);
}
to {
text-shadow: 0 0 60px rgb(113, 87, 191), 0 0 70px rgb(105, 79, 110);
}

}


.clock {
position: absolute;   
font-size: 1.5vw;       
right: 10%;    
font-family:'neuropol.otf';
box-shadow: inset 0 0 30px rgb(249, 225, 255); /* inner glow */
border-radius: 200px;
padding: 20px;
margin-left: 150px;


}


.sd-card {
top: 0;
left: 0;
z-index: 2;
width: 100px;
mix-blend-mode: color-dodge;
}

.inlinebutton {

text-align: center;
align-items: center;
justify-content: center;
position: relative;
display: flex;
flex-direction: column;

}




.button {
color: rgb(241, 232, 243);
text-shadow: 0px 1px #56007a;
font-size: 1vw;
font-family: ChintzyFont;
text-decoration:none;


cursor: pointer;

overflow: visible;

border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;

-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;

outline: 0;
}

/* .playpause:active, .next:active, .finished:active, .previous:active {
margin-left: 2px;
margin-right: -2px;
} */

.glass {

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNjc2OCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMjglIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzRiNTA1MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,
rgba(96,103,104,0.3) 0%,
rgba(187,187,187,0.3) 3%,
rgba(187,187,187,0.3) 27%,
rgba(0,0,0,0.3) 28%,
rgba(0,0,0,0.3) 60%,
rgba(0,0,0,0.3) 73%,
rgba(75,80,81,0.3) 88%,
rgba(0,0,0,0.3) 97%,
rgba(0,0,0,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%,rgba(96,103,104,0.3)),
color-stop(3%,rgba(187,187,187,0.3)),
color-stop(27%,rgba(187,187,187,0.3)),
color-stop(28%,rgba(0,0,0,0.3)),
color-stop(60%,rgba(0,0,0,0.3)),
color-stop(73%,rgba(0,0,0,0.3)),
color-stop(88%,rgba(75,80,81,0.3)),
color-stop(97%,rgba(0,0,0,0.3)),
color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(96,103,104,0.3) 0%,rgba(187,187,187,0.3) 3%,rgba(187,187,187,0.3) 27%,rgba(0,0,0,0.3) 28%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.3) 73%,rgba(75,80,81,0.3) 88%,rgba(0,0,0,0.3) 97%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(96,103,104,0.3) 0%,rgba(187,187,187,0.3) 3%,rgba(187,187,187,0.3) 27%,rgba(0,0,0,0.3) 28%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.3) 73%,rgba(75,80,81,0.3) 88%,rgba(0,0,0,0.3) 97%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(96,103,104,0.3) 0%,rgba(187,187,187,0.3) 3%,rgba(187,187,187,0.3) 27%,rgba(0,0,0,0.3) 28%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.3) 73%,rgba(75,80,81,0.3) 88%,rgba(0,0,0,0.3) 97%,rgba(0,0,0,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0, 221, 250, 0.3) 0%,rgba(187,187,187,0.3) 3%,rgba(187,187,187,0.3) 27%,rgba(0,0,0,0.3) 28%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.3) 73%,rgba(75,80,81,0.3) 88%,rgba(0,0,0,0.3) 97%,rgba(0,0,0,0.3) 100%); /* W3C */

border-color: rgb(164, 0, 224);
border-image: none;
border-style: solid;
border-width: 1px;

box-shadow:
0 1px 0 0 rgba(90, 13, 85, 0.4) inset,
0 2px 6px rgba(0, 0, 0, 0.5),
0 10px rgba(0, 0, 0, 0.05) inset;
}

button:hover.playpause, .next:hover, .finished:hover, .previous:hover {
color: rgba(255, 255, 255, 0.99);
text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgb(230, 0, 255);
border-color: rgba(245, 0, 208, 0.4);
box-shadow:
0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
0 2px 6px rgb(205, 3, 255),
0 10px rgba(0, 0, 0, 0.05) inset,
0 0 5px 2px rgba(255, 255, 255, 0.75),
0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
}

button:active.playpause, .next:active, .finished:active, .previous:active {
color: rgba(0, 0, 0, 1.0);

border-color: rgba(255, 255, 255, 0.6) !important;
border-image: none;
border-style: solid;
border-width: 1px;

box-shadow:
0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
0 10px 0 0 rgba(255, 255, 255, 0.5) inset,
0 0 5px 2px rgba(255, 255, 255, 0.75),
0 0 10px 2px rgba(255, 255, 255, 0.75) inset !important;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
}

.playpause {
height: 2vh;
text-align: center;
font-family:'virale.ttf';
padding-left: 10px;    
padding-right: 10px;

}

.next {
width:auto;

}

.finished {
width:auto;

}

.previous {
width:auto
}


.musicbox {
display: flex;
justify-content: center; /* center horizontally */
align-items: center;     /* center vertically */
width: 18vw;
height: fit-content;
border-radius: 20px;
box-shadow: 0 0 20px rgb(0, 0, 0);
position: relative;
width: 13vw;
margin-top: 7%;
margin-bottom: 10%;
margin-left:11%
}

.cd-info {
display: flex; /* Use flexbox to arrange items */
justify-content: center; /* center horizontally */
align-items: center;     /* center vertically */

}

.musicinfo {

font-family:'virale.ttf';
color: aliceblue;
line-height: 50px;
text-wrap: wrap;

}

.music-image {
position: absolute;
width: 10vw;
margin-top: 7%;
margin-bottom: 10%;
margin-left:20%

}



.cd-container {
position: relative;    
width: 12vw;
margin-top: 7%;
margin-bottom: 10%;
margin-left:20%


}

.parent-container {
display: flex;
justify-content: center; 
align-items: center; 
padding: 10px;   
width: 12vw;
}

.cdcase {
width: 12vw;
position: relative;
box-shadow: 0 0 10px 5px rgba(255, 185, 246, 0.29);
}


.cd {
width: 9.5vw;
position: absolute;
margin-left: 20px;
z-index: -1;

}

@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }

}

/* Combined animation */
.spinning.shifting {
animation:
spin 4s infinite linear,  /* spinning animation */
slide 2s ease-out forwards; /* slide animation */
}





.cd-image {

width: 9vw;
z-index: 10;
position: absolute;
margin-left: 20px;
border-radius: 100px;
mix-blend-mode:overlay;
}

.custom-box2 {

grid-column: span 1.5;
height:fit-content;
position: relative;

}



.topbarleft {
grid-area: topbarleft;
position: relative;
display: flex;
flex-direction: column;
justify-content: center; 
text-align: center;
}

.topbarcenter {
grid-area: topbarcenter;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image: src('bg.JPG');

}


.lightning {
width: 200px;
border-radius: 20px;
filter:hue-rotate(80deg);
mix-blend-mode:screen;


}




.lightning2 {
width: 200px;
border-radius: 20px;
transform: scaleX(-1);
filter:hue-rotate(80deg);
mix-blend-mode:screen;

}


.logo {

width: 35vw;
height: auto;
border-radius: 25px; 
mix-blend-mode:hard-light;
filter:hue-rotate(390deg)
}


.sidebarleft {
grid-area: adsleft;
border-radius: 20px; 
box-shadow: 0 0 20px rgb(247, 211, 255);
overflow: auto; 
height: 80vh;

-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}

.sidebarleft::-webkit-scrollbar {
display: none; /* Chrome, Safari, newer versions of Opera */
}

.contentcenter {
grid-area: contentcenter;
overflow: auto;
border-radius: 20px;
height: 80vh;
position:relative;
box-shadow: 0 0 20px rgb(247, 211, 255);
/* Hide scrollbars */
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
padding-left:10px;
padding-right:10px;

}

.contentcenter::-webkit-scrollbar {
display: none; /* Chrome, Safari, newer versions of Opera */
}


.g {
width: 240px;
position: absolute;
z-index: -1;
border-radius: 20px; 
mix-blend-mode:darken;

}


.image-grid {
display: grid;
grid-template-columns: repeat(2, 1fr); 
max-width: 100%;
padding-left: 20px;
padding-right: 20px;

box-shadow: 0 0 20px rgb(247, 211, 255);

}

/* .sidebarright {
grid-area: sidebarright;
border-radius: 20px; 
box-shadow: 0 0 20px rgb(247, 211, 255);

} */

.footerleft {
grid-area: footerleft;
border-radius: 20px; 

box-shadow: 0 0 20px rgb(247, 211, 255);
text-align: center;

}

.footercenter {
grid-area: footercenter;
border-radius: 20px; 
box-shadow: 0 0 20px rgb(247, 211, 255);
text-align: center;
}

.footerright {
grid-area: footerright;
border-radius: 20px; 
box-shadow: 0 0 20px rgb(247, 211, 255);
text-align: center;

}

.art1 {
transition: transform .2s;
max-width: 100%;
width: 100%; /* Make each image take the full width of its container */
border-radius: 20px; 
filter: brightness(130%);
box-shadow: 0 0 20px rgb(228, 202, 255);
display: block;


}

.art1:hover {
transform: scale(1.05);
}



.art2 {
transition: transform .2s;
max-width: 100%;
width: 100%; /* Make each image take the full width of its container */
border-radius: 20px; 
filter: brightness(100%);
box-shadow: 0 0 20px rgb(228, 202, 255);
display: block;

}
.art2:hover {
transform: scale(1.05);
}

.art3:hover {
transform: scale(1.05);
}
.art3 {
transition: transform .2s;
max-width: 100%;
width: 100%; /* Make each image take the full width of its container */
border-radius: 20px; 
box-shadow: 0 0 20px rgb(228, 202, 255);
display: block;

}

.art4:hover {
transform: scale(1.05);
}
.art4 {
transition: transform .2s;
max-width: 100%;
width: 100%;
border-radius: 20px; 
filter: brightness(130%);
box-shadow: 0 0 20px rgb(228, 202, 255);
display: block;
}

.online {
width: 200px;
border-radius: 20px;
box-shadow: 0 0 20px rgb(0, 0, 0);
position: relative;
height:fit-content;
float: left;

}

.title {
color: #ffffff;
line-height: 1.4;
font-size: 1.3rem;
font-family:'neuropol.otf';
margin: 20px;
padding: 10px; /* Adjust for desired spacing inside the box */
text-align: center;
border-radius: 200px;
box-shadow: inset 0 0 20px rgb(255, 255, 255);
text-shadow: 0 0 10px rgba(255, 237, 237, 0.924), 
             0 0 15px rgb(0, 255, 217), 
             0 0 20px rgb(255, 4, 125);


}

.custom-box{
grid-column: span 2;
border-radius: 20px;
box-shadow: 0 0 20px rgb(255, 255, 255);
height:fit-content;
}

.hi {
filter: grayscale(100%);

}


.idtext {

font-size:0.9rem;
float: right;
color: #f2f2f2c6;
font-family:'neuropol.otf';
padding: 50px;
line-height: 2rem;
text-align: center;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.8); /* this is the shadow */
}




.idbox {
box-shadow: 0 0 20px rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: center; 
border-radius: 20px;
text-align: center;
margin:20px;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.8); /* this is the shadow */

}

.scan {
position: fixed;      /* Keeps the overlay fixed on top */
top: 0;
left: 0;
right: 0;
bottom: 0;
background-size:contain; 
z-index: 1000000;
pointer-events: none;   
mix-blend-mode:hard-light;
filter: contrast(15%);

}

.custom-font {
font-family: 'virale.ttf', sans-serif;
color: aliceblue;
line-height: 20px;
padding: 15px;
text-wrap: wrap;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.8); /* this is the shadow */
}

@font-face {
font-family:'neuropol.otf';
src: url('neuropol.otf');
}

@font-face {
font-family: '1942.ttf';
src: url('1942.ttf');
}

@font-face {
font-family: 'Kingthings_Printingkit.ttf';
src: url(Kingthings_Printingkit.ttf);
}

@font-face {
font-family: 'virale.ttf';
src: url('virale.ttf');
}

.table {

font-family:'neuropol.otf';
font-size: 0.8vw;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 1.8); /* this is the shadow */
color: #d6d6cd;
width: 10vw;
margin-top: 7%;
margin-bottom: 10%;
margin-left:15%
}

.crt {
width: 2vw;       
position: absolute;
width:150px;
z-index: 9;
left: 5%; 
}



.p5 {
width: 50vw;
height: 40vh;

overflow: hidden;
filter: hue-rotate(80deg) invert(220);
box-shadow: 0 0 10px rgb(251, 0, 0), 0 0 10px rgb(251, 0, 0);
mix-blend-mode: lighten;
}



